@model IEnumerable<teamfb.Models.UserAccount>

@{
    ViewBag.Title = "Index";
}

<title>HTML Redirect</title>
<meta http-equiv="refresh"
      content="1; url = /Home/Dashboard" />

<h2>User @ViewBag.Name</h2>

<table class="table">
    <tr>
        <th>
            Welcome Back!
        </th>
        <th></th>
    </tr>
    @if (Model == null)
    {
        <p>Not signed in</p>
    }
    <p style="text-align:center;">
        If your browser supports Refresh,
        you'll be redirected to DashBoard in 2 seconds.
    </p>


</table>