@{
    ViewBag.Title = "Contact us";
}

<style>
    input,
    select {
        max-width: none;
    }

    textarea {
        max-width: none;
        height: 150px !important;
    }

    .btn-primary {
        background-color: #E38948 !important;
        border-color: #E38948 !important;
    }
</style>

<h2>@ViewBag.Title</h2>
<br />

<div class="row">
    <div class="col-md-8">
        <form action="mailto:ds16bz@brocku.ca"
              method="POST"
              enctype="multipart/form-data"
              name="EmailForm">
            <input class="form-control" name="name" placeholder="Name" /><br />
            <input class="form-control" name="phone" placeholder="Phone" /><br />
            <input class="form-control" name="email" placeholder="E-mail" /><br />
            <textarea class="form-control" name="text" placeholder="Welcome! Feel free to email support if you have any queries."></textarea><br />
            <input class="btn btn-primary" type="submit" value="Send Email to Support" /><br /><br />
        </form>
    </div>
    <div class="col-md-4">
        <b>Contact Info:</b><br />
        <address>
            Brock University<br />
            St. Catharines, ON<br />
            <abbr title="Phone">Phone:</abbr>
            425.555.0100<br />
            <abbr title="Email">E-mail:</abbr>
            <a href="mailto:ds16bz@brocku.ca">ds16bz@brocku.ca</a>
        </address>
    </div>
</div>